# ignore everything under data...
/data/*

# ...but allow the CSV ZIPs
!/data/*.zip

# never commit parquet caches
*.parquet
# caches
__pycache__/
*.pyc
.streamlit/
src/__pycache__/
*.parquet
*.feather
.DS_Store
